:root {
  --black-text-color: #0d0d0d;

  --accent-text-color: #e1a37f;

  --white-text-color: #ffffff;

  --button-color: #bf7e59;
}

body {
  background-image: url(../images/background/full-background-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .body {
    background-image: url(../images/png/full-background-2x.jpg);
  }
}

.container {
  padding-left: 18px;
  padding-right: 18px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(../images/background/full-background-tablet-1x.jpg);
  }

  .container {
    max-width: 768px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .body {
      background-image: url(../images/background/full-background-tablet-2x.jpg);
    }
  }
}

@media screen and (min-width: 1440px) {
  body {
    background-image: url(../images/background/full-background-desktop-1440-1x.jpg);
  }

  .container {
    max-width: 1440px;
    padding-left: 180px;
    padding-right: 180px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .body {
      background-image: url(../images/background/full-background-desktop-1440-2x.jpg);
    }
  }
}

@media screen and (min-width: 1920px) {
  body {
    background-image: url(../images/background/full-background-desktop-1x.jpg);
  }

  .container {
    max-width: 1920px;
    padding-left: 420px;
    padding-right: 420px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .body {
      background-image: url(../images/png/full-background-desktop-2x.jpg);
    }
  }
}

/**************section-header**************/

.section-header {
  padding-top: 373px;
  padding-bottom: 80px;
}

.section-header .wrapper {
  border-radius: 30px;
  border: 1px solid var(--unnamed, #fff);
  background: var(--unnamed, #fff);
  backdrop-filter: blur(5px);

  padding: 12px 23px;
}

.header-master {
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;

  color: var(--black-text-color);

  margin-top: 0;
  margin-bottom: 0;
}

.header-title {
  text-align: center;
  font-family: Unbounded;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;

  color: var(--accent-text-color);

  margin-top: 0;
  margin-bottom: 8px;
}

.header-text {
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */

  color: var(--black-text-color);

  margin-top: 0;
  margin-bottom: 8px;
}

.header-desk {
  text-align: center;
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */

  color: var(--black-text-color);

  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .section-header {
    padding-top: 699px;
    padding-bottom: 80px;
  }

  .section-header .wrapper {
    border-radius: 40px;
    padding: 33px 60px;
  }
}

@media screen and (min-width: 1440px) {
  .section-header {
    position: relative;
  }

  .section-header .wrapper {
    padding: 63px 18px;
    max-width: 552px;
    height: 580px;

    position: absolute;

    top: 160px;
    right: 55px;
  }

  .header-master {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .header-title {
    font-size: 40px;
  }

  .header-title::after {
    content: '';
    display: block;

    height: 1px;
    width: 200px;
    background-color: #e1a37f;

    margin-top: 60px;
    margin-bottom: 60px;

    margin-left: auto;
    margin-right: auto;
  }

  .header-text {
    font-size: 24px;

    max-width: 516px;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 32px;
  }

  .header-desk {
    font-size: 24px;

    max-width: 277px;

    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1920px) {
  .section-header .wrapper {
    padding: 76px 29px;
    max-width: 648px;
    height: 642px;

    position: absolute;

    top: 220px;
    right: 169px;
  }

  .header-master {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .header-title {
    font-size: 48px;
  }

  .header-text {
    font-size: 28px;
  }
}

/**************section-consultation**************/

.section-consultation {
  padding-top: 0;
  padding-bottom: 80px;
}

.section-consultation p {
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;

  color: var(--white-text-color);
}

.section-consultation span {
  font-weight: 500;

  color: var(--accent-text-color);
}

.consultation-list {
  padding-left: 32px;

  margin-top: 0;
  margin-bottom: 24px;
}

.consultation-item {
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 19.8px */

  color: var(--accent-text-color);
}

.space-twelve {
  margin-top: 0;
  margin-bottom: 12px;
}

.space-forty {
  margin-top: 0;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .section-consultation p {
    max-width: 550px;
  }

  .section-consultation .space-width {
    width: 450px;
  }
}

@media screen and (min-width: 1440px) {
  .section-consultation {
    padding-top: 260px;
    padding-bottom: 80px;
  }

  .section-consultation .container {
    padding-left: 380px;
    padding-right: 380px;
  }

  .section-consultation p {
    font-size: 24px;
    max-width: 635px;
  }

  .consultation-item {
    font-size: 28px;
  }
}

@media screen and (min-width: 1920px) {
  .section-consultation {
    padding-top: 330px;
    padding-bottom: 80px;
  }

  .section-consultation .container {
    padding-left: 621px;
    padding-right: 614px;
  }
}

/**************section-mission**************/

.section-mission {
  padding-top: 0;
  padding-bottom: 68px;
}

.section-mission .image-title {
  width: 100%;
  margin-bottom: 28px;
}

.section-mission .text-one span {
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 19.8px */

  color: var(--accent-text-color);
}

.section-mission .text-one {
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;

  color: var(--white-text-color);

  max-width: 280px;

  margin-left: auto;
  margin-right: auto;

  margin-top: 0;
  margin-bottom: 80px;
}

.section-mission .wrapper {
  border-radius: 30px;
  border: 1px solid var(--unnamed, #fff);
  background: var(--unnamed, #bf7e59);
  backdrop-filter: blur(5px);

  padding: 32px 20px;

  margin-bottom: 40px;
}

.mission-wrapper-one {
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */

  color: var(--black-text-color);

  margin-top: 0;
  margin-bottom: 40px;

  width: 270px;

  margin-left: auto;
  margin-right: auto;
}

.mission-wrapper-title {
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 19.8px */
  text-transform: uppercase;

  color: var(--black-text-color);

  margin-top: 0;
  margin-bottom: 20px;
}

.mission-next-question {
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */

  color: var(--black-text-color);

  margin-top: 0;
  margin-bottom: 12px;
}

.mission-list {
  padding-left: 30px;
  margin-top: 0;
  margin-bottom: 40px;
}

.mission-item {
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 17.6px */

  color: var(--white-text-color);
}

.mission-wrapper-two {
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */

  color: var(--black-text-color);

  margin-top: 0;
  margin-bottom: 20px;
}

.mission-wrapper-two span {
  font-weight: 500;
}

.mission-wrapper-three {
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */

  color: var(--black-text-color);

  max-width: 270px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.mission-button {
  display: block;

  position: relative;

  text-align: center;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 19.8px */
  text-transform: uppercase;

  color: var(--button-color);

  text-decoration: none;

  padding: 16px 80px;

  background-color: var(--white-text-color);
  border-radius: 40px;

  margin-left: auto;
  margin-right: auto;

  max-width: 350px;

  cursor: pointer;
}

.mission-button::before,
.mission-button::after {
  position: absolute;
  content: '';
  border: 2px solid #ffffff;
  left: -50px;
  right: -50px;
  top: -15px;
  bottom: -15px;
  animation: pulse 1.3s linear infinite;
  opacity: 0;

  border-radius: 60px;
}

/* .mission-button::after {
  animation-delay: 0s;
} */

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .section-mission .text-one {
    max-width: 540px;
  }

  .section-mission .wrapper {
    border-radius: 40px;
    margin-bottom: 60px;
  }

  .mission-wrapper-one {
    width: 354px;
    font-size: 18px;
  }

  .mission-wrapper-title {
    font-size: 20px;
  }

  .mission-next-question {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .mission-item {
    font-size: 18px;
  }

  .mission-list {
    padding-left: 50px;
    margin-bottom: 32px;
  }

  .mission-wrapper-two {
    max-width: 538px;

    margin-left: auto;
    margin-right: auto;
  }

  .mission-wrapper-three {
    max-width: 395px;
  }

  .cost-button::before,
  .cost-button::after {
    left: -50px;
    right: -50px;
    top: -15px;
    bottom: -15px;

    border-radius: 60px;
  }

  .cost-button::after {
    animation-delay: 0.6s;
  }

  @keyframes pulse {
    0% {
      opacity: 0;
      transform: scale(0.7);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
    }
  }
}

@media screen and (min-width: 1440px) {
  .section-mission {
    padding-bottom: 190px;
  }

  .section-mission .image-title {
    max-width: 828px;
    display: block;

    margin-left: auto;
    margin-right: auto;
  }

  .section-mission .text-one {
    font-size: 24px;
  }

  .section-mission .text-one span {
    font-size: 24px;
  }

  .section-mission .wrapper {
    padding: 35px 136px;
  }

  .mission-wrapper-one {
    width: 456px;
    font-size: 24px;
    margin-bottom: 60px;
  }

  .mission-wrapper-title {
    font-size: 28px;
  }

  .mission-next-question {
    font-size: 24px;
  }

  .mission-list {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  .mission-item {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .mission-item:last-child {
    margin-bottom: 0;
  }

  .mission-wrapper-two {
    font-size: 24px;
    max-width: 808px;
    margin-bottom: 40px;
  }

  .mission-wrapper-three {
    font-size: 24px;
    max-width: 468px;
  }

  .mission-button {
    max-width: 550px;
    padding: 30px 150px;
    font-size: 24px;
  }

  .cost-button::before,
  .cost-button::after {
    left: -70px;
    right: -70px;
    top: -25px;
    bottom: -25px;

    border-radius: 60px;
  }

  .cost-button::after {
    animation-delay: 0.6s;
  }

  @keyframes pulse {
    0% {
      opacity: 0;
      transform: scale(0.7);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1.3);
    }
  }
}

@media screen and (min-width: 1920px) {
  .section-mission {
    padding-bottom: 150px;
  }
}

/**************section-causes**************/

.section-causes {
  padding-top: 0;
  padding-bottom: 80px;
}

.section-causes .image-title {
  width: 100%;
  margin-bottom: 28px;
}

.causes-text-one {
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 19.8px */

  color: var(--accent-text-color);

  margin-top: 0;
  margin-bottom: 40px;

  width: 224px;

  margin-left: auto;
  margin-right: auto;
}

.causes-list {
  margin-top: 0;
  margin-bottom: 40px;

  margin-left: auto;
  margin-right: auto;

  width: 270px;
}

.causes-item {
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */

  color: var(--white-text-color);

  margin-bottom: 20px;

  width: 270px;

  margin-left: auto;
  margin-right: auto;
}

.causes-item:last-child {
  margin-bottom: 0;
}

.causes-text-two {
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;

  color: var(--white-text-color);

  max-width: 350px;

  margin-top: 0;
  margin-bottom: 20px;

  margin-left: auto;
  margin-right: auto;
}

.causes-text-two span {
  font-weight: 500;
  color: var(--accent-text-color);
}

.causes-text-two::before {
  content: '';
  display: block;

  height: 1px;
  width: 140px;
  background-color: #e1a37f;

  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.causes-text-three {
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */

  color: var(--white-text-color);

  max-width: 350px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.causes-text-three::after {
  content: '';
  display: block;

  height: 1px;
  width: 140px;
  background-color: #e1a37f;

  margin-top: 20px;
  margin-bottom: 80px;

  margin-left: auto;
  margin-right: auto;
}

.section-causes .wrapper {
  border-radius: 30px;
  backdrop-filter: blur(5px);
  background: var(--white-text-color);

  padding: 40px 30px;
  margin-bottom: 60px;
}

.wrapper-causes-container {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 265px;

  margin-left: auto;
  margin-right: auto;
}

.title-desktop {
  display: none;
}

.wrapper-causes-symbol {
  color: #f00;
  font-family: Unbounded;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 52.8px */

  filter: blur(2px);
}

.wrapper-causes-title {
  text-align: center;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 90%; /* 21.6px */

  color: var(--accent-text-color);

  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.causes-wrapper-list {
  margin-top: 40px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.causes-wrapper-item {
  margin-top: 0;
  margin-bottom: 40px;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.item-number {
  font-family: Jost;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 52.8px */

  color: var(--white-text-color);

  text-shadow: 1px 0 1px #bf7e59, 0 1px 1px #bf7e59, -1px 0 1px #bf7e59,
    0 -1px 1px #bf7e59;

  margin-right: 30px;
}

.causes-wrapper-list .item-text {
  margin-top: 0;
  margin-bottom: 0;

  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 17.6px */

  color: var(--black-text-color);
}

.causes-wrapper-list::after {
  content: '';
  display: block;

  height: 1px;
  width: 140px;
  background-color: #e1a37f;

  margin-bottom: 40px;

  margin-left: auto;
  margin-right: auto;
}

.causes-text-four {
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 22px */
  text-transform: uppercase;

  color: var(--accent-text-color);

  margin-top: 0;
  margin-bottom: 20px;
}

.causes-text-five {
  color: var(--unnamed, #0d0d0d);
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */

  max-width: 323px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.causes-text-five span {
  font-weight: 500;
}

.causes-text-five .accent {
  color: var(--accent-text-color);
}

.causes-text-six {
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 22px */

  color: var(--white-text-color);

  margin-top: 0;
  margin-bottom: 0;
}

.causes-text-six span {
  font-weight: 600;
  color: var(--accent-text-color);
}

.section-bonus .image-title {
  width: 100%;
  margin-bottom: 28px;
}

@media screen and (max-width: 767px) {
  .causes-list {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .causes-text-one {
    width: 406px;
  }

  .causes-list {
    width: 471px;
  }

  .causes-item {
    width: 471px;
  }

  .causes-text-two {
    max-width: 314px;
  }

  .causes-text-three {
    max-width: 529px;
  }

  .causes-text-two::before {
    width: 250px;
  }

  .causes-text-three::after {
    margin-top: 40px;
    margin-bottom: 103px;
    width: 250px;
  }

  .section-causes .wrapper {
    border-radius: 40px;
  }
  .wrapper-causes-container {
    max-width: 451px;
    height: 30px;
  }

  .text-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .item-number {
    font-size: 54px;
  }

  .causes-wrapper-list .item-text {
    font-size: 18px;
  }

  .causes-wrapper-list::after {
    width: 364px;
  }

  .causes-text-five {
    max-width: 500px;
  }

  .section-bonus .image-title {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .section-causes {
    padding-bottom: 160px;
  }

  .section-causes .image-title {
    max-width: 997px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .section-causes .wrapper {
    width: 828px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 100px;
    margin-bottom: 160px;
  }

  .causes-text-one {
    font-size: 28px;
  }

  .causes-item {
    font-size: 24px;
    width: 577px;
  }

  .causes-text-two {
    font-size: 24px;
    max-width: 490px;
  }

  .causes-text-three {
    font-size: 24px;
    max-width: 633px;
  }

  .causes-text-three::after {
    margin-bottom: 160px;
  }

  .causes-list {
    padding: 0;
  }

  .section-causes .wrapper {
    width: 828px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 100px;
    margin-bottom: 200px;
  }

  .wrapper-causes-container {
    display: none;
  }

  .wrapper-causes-title {
    display: none;
  }

  .section-causes .title-desktop {
    display: block;

    text-align: center;
    font-family: Jost;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 90%; /* 25.2px */

    color: var(--accent-text-color);

    max-width: 494px;

    margin-left: auto;
    margin-right: auto;
  }

  .causes-wrapper-list .item-text {
    font-size: 24px;
  }

  .text-container {
    width: 572px;
  }

  .causes-wrapper-item {
    margin-bottom: 60px;
  }

  .causes-text-four {
    font-size: 28px;
  }

  .causes-text-five {
    font-size: 24px;
    max-width: 628px;
  }

  .causes-text-six {
    font-size: 28px;
    max-width: 750px;

    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1920px) {
  .section-causes {
    padding-bottom: 50px;
  }

  .section-causes .wrapper {
    width: 828px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 100px;
    margin-bottom: 200px;
  }
}

/**************section-bonus**************/

.section-bonus {
  padding-top: 0;
  padding-bottom: 80px;
}

.bonus-text-one {
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */

  color: var(--white-text-color);

  width: 224px;

  margin-left: auto;
  margin-right: auto;

  margin-top: 0;
  margin-bottom: 60px;
}

.bonus-text-two {
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */

  color: var(--white-text-color);

  max-width: 311px;

  margin-left: auto;
  margin-right: auto;

  margin-top: 0;
  margin-bottom: 20px;
}

.bonus-text-two span {
  font-weight: 500;
}

.bonus-image {
  display: block;

  margin-left: auto;
  margin-right: auto;

  margin-top: 20px;
}

.bonus-text-three {
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 17.6px */

  color: var(--accent-text-color);

  max-width: 311px;

  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .bonus-text-one {
    font-size: 18px;
    width: 357px;
    margin-bottom: 48px;
  }

  .bonus-text-two {
    font-size: 18px;
    max-width: 581px;
  }
}

@media screen and (min-width: 1440px) {
  .section-bonus .image-title {
    width: 806px;
  }

  .bonus-text-one {
    font-size: 24px;
    width: 523px;
  }

  .bonus-text-two {
    font-size: 24px;
    max-width: 742px;
  }

  .bonus-text-three {
    font-size: 24px;
    max-width: 431px;
  }
}

/**************section-process**************/
.section-process {
  padding-top: 0;
  padding-bottom: 100px;
}

.section-process .image-title {
  width: 100%;
  margin-bottom: 28px;
}

.process-text-one {
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  color: var(--white-text-color);

  margin-top: 0;
  margin-bottom: 24px;
}

.process-text-two {
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: var(--white-text-color);

  max-width: 333px;

  margin-top: 0;
  margin-bottom: 0;

  margin-left: auto;
  margin-right: auto;
}

.process-text-two span {
  font-weight: 600;
  color: var(--accent-text-color);
}

.space-twenty-four {
  margin-bottom: 24px;
}

.process-width {
  max-width: 258px;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 60px;
}

.section-process .wrapper {
  border-radius: 30px;
  border: 1px solid var(--unnamed, #fff);
  background: var(--unnamed, #bf7e59);

  padding: 24px 16px;
}

.section-process h3 {
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 22px */

  color: var(--black-text-color);

  width: 212px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 32px;
}

.process-wrapper-text {
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;

  color: var(--black-text-color);

  margin-top: 0;
  margin-bottom: 20px;
}

.process-wrapper-text span {
  font-weight: 600;

  color: var(--white-text-color);
}

.section-process .marg-bottom-zero {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .section-process {
    padding-bottom: 93px;
  }

  .section-process .image-title {
    width: 90%;
    display: block;

    margin-left: auto;
    margin-right: auto;
  }

  .process-text-one {
    font-size: 20px;
    margin-bottom: 32px;
  }

  .process-text-two {
    max-width: 578px;
  }

  .section-process h3 {
    font-size: 24px;
    width: 262px;
  }

  .process-wrapper-text {
    text-align: center;

    max-width: 520px;

    margin-left: auto;
    margin-right: auto;
  }

  .section-process .marg-bottom-zero {
    max-width: 414px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .section-process {
    padding-bottom: 130px;
  }

  .section-process .image-title {
    width: 806px;
  }

  .process-text-one {
    font-size: 28px;
  }

  .process-text-two {
    font-size: 24px;
    max-width: 860px;
  }

  .section-process .process-width {
    max-width: 648px;
    margin-bottom: 160px;
  }
  .process-width br {
    display: none;
  }

  .section-process .wrapper {
    padding: 40px 16px;
    width: 1109px;
  }

  .section-process h3 {
    font-size: 28px;
    width: 901px;
  }

  .process-wrapper-text {
    font-size: 24px;
    max-width: 909px;
  }

  .section-process .marg-bottom-zero {
    font-size: 24px;
    max-width: 646px;
  }

  .process-width-two {
    max-width: 811px;
  }
}

@media screen and (min-width: 1920px) {
  .section-process {
    padding-bottom: 405px;
  }
}

/**************section-cost**************/

.section-cost {
  padding-top: 0;
  padding-bottom: 80px;
}

.section-cost .image-title {
  width: 100%;
  margin-bottom: 28px;
}

.cost-text-one {
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  color: var(--white-text-color);

  margin-top: 0;
  margin-bottom: 32px;
}

.cost-text-two {
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: var(--white-text-color);

  margin-top: 0;
  margin-bottom: 32px;

  max-width: 341px;

  margin-left: auto;
  margin-right: auto;
}

.cost-text-two .accent {
  color: var(--accent-text-color);
}

.cost-text-two span {
  font-weight: 600;
}

.cost-text-three {
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: var(--white-text-color);

  max-width: 341px;

  margin-left: auto;
  margin-right: auto;

  margin-top: 0;
  margin-bottom: 28px;
}

.cost-text-three::after {
  content: '';
  display: block;

  height: 1px;
  width: 140px;
  background-color: #e1a37f;

  margin-top: 24px;
  margin-bottom: 24px;

  margin-left: auto;
  margin-right: auto;
}

.cost-text-four {
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  color: var(--accent-text-color);

  margin-top: 0;
  margin-bottom: 28px;
}

.cost-text-five {
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: var(--white-text-color);

  margin-top: 0;
  margin-bottom: 24px;

  margin-left: auto;
  margin-right: auto;
}

.cost-text-five .stroke {
  font-weight: 600;
  text-decoration: line-through;
}

.cost-text-five .accent {
  font-weight: 600;
  color: var(--accent-text-color);
}

.cost-text-five::after {
  content: '';
  display: block;

  height: 1px;
  width: 140px;
  background-color: #e1a37f;

  margin-top: 24px;
  margin-bottom: 50px;

  margin-left: auto;
  margin-right: auto;
}

.cost-button {
  display: block;

  position: relative;

  text-align: center;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 19.8px */
  text-transform: uppercase;

  color: var(--white-text-color);

  text-decoration: none;

  padding: 16px 50px;

  background-color: var(--button-color);
  border-radius: 40px;

  margin-left: auto;
  margin-right: auto;

  max-width: 350px;

  cursor: pointer;
}

.cost-button::before,
.cost-button::after {
  position: absolute;
  content: '';
  border: 3px solid #bf7e59;
  left: -50px;
  right: -50px;
  top: -15px;
  bottom: -15px;
  animation: pulse 1.3s linear infinite;
  opacity: 0;

  border-radius: 60px;
}

/* .cost-button::after {
  animation-delay: 0.6s;
} */

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .cost-text-one {
    font-size: 20px;
  }

  .cost-text-two {
    max-width: 543px;
    font-size: 18px;
  }

  .cost-text-three {
    max-width: 543px;
    font-size: 18px;
  }

  .cost-text-four {
    font-size: 20px;
  }

  .cost-text-three::after {
    width: 200px;
  }

  .cost-text-five::after {
    width: 200px;
  }

  .cost-text-five {
    width: 479px;
  }

  .cost-button::before,
  .cost-button::after {
    left: -50px;
    right: -50px;
    top: -15px;
    bottom: -15px;

    border-radius: 60px;
  }

  /* .cost-button::after {
    animation-delay: 0.6s;
  } */

  @keyframes pulse {
    0% {
      opacity: 0;
      transform: scale(0.7);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
    }
  }
}

@media screen and (min-width: 1440px) {
  .section-cost {
    padding-bottom: 160px;
  }

  .section-cost .image-title {
    width: 1165px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .cost-text-one {
    font-size: 28px;
  }

  .cost-text-two {
    max-width: 760px;
    font-size: 24px;
  }

  .cost-text-three {
    max-width: 939px;
    font-size: 24px;
  }

  .cost-text-four {
    font-size: 28px;
  }

  .cost-text-five {
    width: 670px;
    font-size: 28px;
  }

  .cost-button {
    max-width: 550px;
    padding: 30px 100px;
    font-size: 24px;
  }

  .cost-button::before,
  .cost-button::after {
    left: -70px;
    right: -70px;
    top: -25px;
    bottom: -25px;

    border-radius: 60px;
  }

  /* .cost-button::after {
    animation-delay: 0.6s;
  } */

  @keyframes pulse {
    0% {
      opacity: 0;
      transform: scale(0.7);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1.3);
    }
  }
}

@media screen and (min-width: 1920px) {
  .section-cost {
    padding-bottom: 230px;
  }
}

/**************section-questions**************/

.section-questions {
  padding-top: 0;
  padding-bottom: 80px;
}

.section-questions .image-title {
  width: 100%;
  margin-bottom: 12px;
}

.quest-text-one {
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  color: var(--accent-text-color);

  margin-top: 0;
  margin-bottom: 40px;
}

.isOpen .content {
  display: block;
}

.question {
  background-color: var(--white-text-color);
  border-radius: 15px;
  padding: 12px 12px;
  margin-bottom: 8px;
}

.question:last-child {
  margin-bottom: 0px;
}

.question-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-name p {
  font-family: Jost;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  color: var(--black-text-color);

  margin-top: 0;
  margin-bottom: 0;

  max-width: 233px;
}

.content {
  display: none;

  font-family: Jost;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: var(--black-text-color);

  margin-top: 18px;

  max-width: 295px;
}

.nine-svg {
  width: 20px;
  height: 20px;

  transform: rotate(45deg);

  transition: transform 250ms linear;
}
.question.open .nine-svg {
  transform: rotate(0);
}

@media screen and (min-width: 768px) {
  .section-questions .image-title {
    width: 90%;
    display: block;

    margin-left: auto;
    margin-right: auto;
  }

  .quest-text-one {
    font-size: 18px;
  }

  .question {
    padding: 20px;
  }

  .question-name p {
    font-size: 18px;
    max-width: 500px;
  }

  .content {
    font-size: 16px;
    max-width: 608px;
  }
}

@media screen and (min-width: 1440px) {
  .section-questions .image-title {
    width: 980px;
  }

  .quest-text-one {
    font-size: 24px;
  }

  .question {
    padding: 20px;
  }

  .question-name p {
    font-size: 24px;
    max-width: 720px;
  }

  .content {
    font-size: 20px;
    max-width: 855px;
  }
}

/**************section-wish**************/

.section-wish {
  padding-top: 0;
  padding-bottom: 200px;
}

.wish-text {
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;

  color: var(--white-text-color);

  margin-top: 0;
  margin-bottom: 0;
}

.section-wish .weight {
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 17.6px */

  color: var(--accent-text-color);

  margin-top: 0;
  margin-bottom: 0;
}

.section-wish .marg-bottom {
  margin-bottom: 28px;
}

.section-wish .wish-width {
  max-width: 310px;

  margin-left: auto;
  margin-right: auto;
}

.section-wish .white-accent {
  font-weight: 600;
}

.section-wish .accent {
  color: var(--accent-text-color);
  width: 207px;

  margin-left: auto;
  margin-right: auto;
}

.section-wish .wish-width-two {
  max-width: 340px;

  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .section-wish .tablet-width {
    max-width: 481px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-wish .wish-width-two {
    max-width: 503px;
  }

  .section-wish .accent {
    width: 371px;
  }
}

@media screen and (min-width: 1440px) {
  .wish-text {
    font-size: 24px;
    max-width: 836px;

    margin-left: auto;
    margin-right: auto;
  }

  .section-wish .tablet-width {
    max-width: 729px;
  }

  .section-wish .wish-width-two {
    max-width: 761px;
  }

  .section-wish .accent {
    font-size: 28px;
    width: 645px;
  }
}

/**************section-footer**************/

.footer {
  height: 310px;
  position: relative;

  background-image: linear-gradient(to top, #0d0d0d, #0d0d0d04);
}

.footer-text {
  color: var(--white-text-color);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 47px;

  max-width: 319px;
}

.footer-list {
  margin-top: 0;
  margin-bottom: 40px;

  list-style: none;
  padding: 0;
}

.footer-list-item {
  margin-top: 0;
  margin-bottom: 16px;
}

.footer-list-item:last-child {
  margin-bottom: 0;
}

.footer-deal-link {
  color: var(--white-text-color);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  text-decoration: none;
}

.footer-contact {
  display: flex;
  align-items: center;

  margin-top: 0;
  margin-bottom: 47px;
}

.footer-mail-icon {
  margin-right: 5px;
}

.footer-mail {
  color: var(--white-text-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  text-decoration: none;
}

.footer-social-list {
  position: absolute;
  top: 112px;
  right: 28px;

  display: flex;
  flex-direction: column;
  gap: 28px;

  list-style: none;
}

.footer-text-flp {
  color: var(--white-text-color);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .footer-text {
    max-width: 700px;
    font-size: 15px;
  }

  .footer-deal-link {
    font-size: 16px;
  }

  .footer-mail {
    font-size: 16px;
  }

  .footer-social-icon {
    width: 30px;
    height: 30px;
  }

  .footer-social-list {
    right: 60px;
  }

  .footer-text-flp {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .footer .container {
    max-width: 100%;
    padding: 60px 120px;
  }

  .footer-text {
    font-size: 18px;
    max-width: 771px;
  }

  .footer-deal-link {
    font-size: 16px;
  }

  .footer-mail {
    font-size: 16px;
  }

  .footer-social-icon {
    width: 30px;
    height: 30px;
  }

  .footer-social-list {
    right: 136px;
  }

  .footer-text-flp {
    font-size: 17px;
  }
}

@media screen and (min-width: 1920px) {
  .footer .container {
    max-width: 100%;
    padding: 60px 120px;
  }

  .footer-text {
    font-size: 24px;
    max-width: 1080px;
  }

  .footer-deal-link {
    font-size: 20px;
  }

  .footer-mail {
    font-size: 20px;
  }

  .footer-social-icon {
    width: 30px;
    height: 30px;
  }

  .footer-social-list {
    right: 120px;
  }

  .footer-text-flp {
    font-size: 20px;
  }
}
